<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<title>About us</title>
		 <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<link rel="stylesheet" type="text/css" href="{%  static 'css/about_us.css' %}">
	</head>
    <body style="background-color:blanchedalmond;">
		<center><h1>Tourism</h1></center>
		<div class="main">
                 <ul border="1">
				<li ><a href="Home.html">Home</a></li>
				<li><a href="#">Places</a></li>
				<li class="active"><a href="about_us.html">About Us</a></li>
				<li><a href="#">Contact</a></li>
	        </ul>
               </div>
		<div class="container-fluid" style="background-color: powderblue;">

			<div class="about">
				<div class="text">
					About Us
				</div>
			</div>
			<div class="content">
				<p>
				<b>T</b>ravel is the main thing you purchase that makes you more extravagant.
				Our focused is on bringing our custmers the best in esteem & quality travel game plans.We are anthusiastic about movement and sharing the world's marvels on the relaxation travel side , and giving corporate explorers hello there contact administrations to encourage their business travel needs.</p>

				<p>we're a worker claimed travel organization secured by our qualities , trustworthiness and commitement to client benefit.
				 This website guide for most popular Tourist places photos & information. </p>
				 <p>Fufilled workers lead to fulfilled clients.We know the development and accomplishment of our organization relies on satisfying our customers needs each day.
				<p>Our core value differentiator is the most trusted user experience , be it in terms of quickest search & booking.</p>


			</div>
		</div>
		</div>
		<footer><a href="#">Home |</a><a href="#"> About us |</a> <a href="#">Services |</a><a href="#"> Contact Us</a></footer>

		<!-- Javascript files for bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	</body>
</html>
