<?php include 'validation.php';?>
<!DOCTYPE HTML>
<html len="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Contact Us Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contactus.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Raleway">


</head>

<body >
<!--<style>
    <div {
        background-image: url("D:\\sem 4\\php\\Project\\co.jpg");

    }
</style>-->

    <div class="container-fluid">

        <div width="500px" height="500px">
            <div class="main" width="500px" height="500px">
                <h1>Contact Us</h1>
                <form method="post" action="/Contact_us/">
                    {% csrf_token %}
                <label><h3>Name :</h3></label>
                <input class="input" type="text" name="name" placeholder="Name">
                <span class="error">
                    <?php echo $nameError;?>
                </span>
                <label><h3>Email :</h3></label>
                <input class="input" type="text" name="email" placeholder="email @">
                <span class="error">
                    <?php echo $emailError;?>
                    </span>
                <label><h3>Purpose :</h3></label>
                <input class="input" type="text" name="purpose" placeholder="Purpose">
                <span class="error">
                    <?php echo $purposeError;?>

                    </span>
                <label><h3>Message :</h3></label>
                <textarea name="message" placeholder="Message">

                </textarea>
                <span class="error">
                    <?php echo $messageError;?>

                    </span>
                <input class="submit" type="submit" name="submit" value="Submit">
                <span class="success">
                    <?php echo $successMessage;?>

                    </span>
            </form>
            </div>
        </div>

</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    </body>
</html>

