<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html len="en">
    <head>
        {% load static %}
        <title>EAST INDIA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <tr><h1 align="center" size="50" style="color:BROWN ;font-size:300%"><b><strong><marquee>The Best Places to visit in East India</marquee></strong></b></h1></tr><br>
        <tr><h2 align="center"><img align="middle" src="{% static 'images/east-images/MAWSYNRAM.jpg' %}" height="500"></h2></tr>
        <tr><P style="color:blue;text-align:center;font-size:150%;font-family:Optima;margin:3em "><b>Eastern Zone of India is rich in Cultural Heritage. You can have a taste of beaches, temples, monastries, buddhist circuit with a rural touch.

Most Popular tourist destinations for this region are, Calcutta, Former Captal of India, Puri & Bhubaneshwar, Buddhist Circuit in Bihar, Monastries in Sikkim, Kanchenjunga Range of Mountains in Darjeeling etc.

In no time at all the stimulating bustle and heat of Calcutta is left far behind, opening out to the cool and luscious mountains of refreshing Darjeeling. Encounter the mighty range of the Himalayas in Sikkim, the one-horned rhinoceros in wonderful wildlife reserves, then dream of a forgotten age in the ancient holy towns on the plains of rural India.

</P></tr><br>
        <tr><th><h4 style="color:brown;text-align:left;font-size:200% "><u>GANGTOK,SIKKIM</u></h4></th></tr>
        <tr><th><img align="left" src="{% static 'images/east-images/GANGTOK.jpg' %}" height="400"</th><br>
        <th><p style="text-align:right;font-size:165%;font-family:Candara">Extremely alluring, pleasantly boisterous and wreathed in clouds - Gangtok, the capital city of the Sikkim can also give you a spectacular view of Mt. Kanchenjunga, at a distant skyline. The pristine hill station nestled in mountains and clouds is also a base for a whole lot of trekkers to the Himalayan mountain ranges. The mesmerising prismatic beauty and the beautiful winding hill roads are even more breathtaking if seen from a bird’s eye view in a cable car.


                </p>
        </th></tr><BR>

        <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>DARJEELING,WEST BENGAL</u></h6></td></tr>
        <th><p style="text-align:left;font-size:170%;font-family:Candara">Jaw-dropping locales, mesmerising sunrises, the untouched beauty of the hills, the old-world charm of the past, and the welcoming smiles of the local people all add up to make Darjeeling one of the most beautiful hill stations in Eastern part of India. Spread over a steep mountain ridge, nestled amidst acres of lush green tea plantations, Darjeeling stands at the height of 2,050 meters above sea level, thus boasting of cool climes all year round. This scenic hill station is the perfect getaway for a romantic honeymoon and is just around 700 kilometres away from Kolkata.
            </p>

                </th>
            <td><img align="right"src="{% static 'images/east-images/DARJEELING.jpg' %}" height="400"</td>
        </tr><br>

        <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>BODH-GAYA,BIHAR</u></h7></td>
            </tr>
            <tr>
                <td><img align="left"src="{% static 'images/east-images/BODH.jpg' %}" height="300"></td>
                <th><p style="text-align:right;font-size:170%;font-family:candara">One of the most important pilgrimage sites for Buddhists, Bodhgaya is a village in the state of Bihar. It was here under the Bodhi tree that Gautama Buddha attained enlightenment. The place is bustling with pilgrims all through the year who come to pay their homage in the monasteries, shrines and temples. It also attracts tourists from India and abroad owing to its magnificent Buddha statue, the Mahabodhi Temple and the Bodhi tree.


      </p>
                </th>

            </tr><br>
        </div>
         <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>SHILLONG,MEGHALAYA</u></h6></td></tr>
        <th><p style="text-align:left;font-size:160%;font-family:candara">A beautiful city encircled by pine trees, Shillong is the capital of Meghalaya. It derives its name from Lei Shyllong, an idol worshipped at the Shillong Peak. Standing as tall as 1496 meters, Shillong provides a relief from the heat across the country. This hill station is known for its picturesque sights and traditions. The soothing climate makes Shillong suitable to visit in all seasons. The light drizzles and the cooling gentle wind adds to the joy of visiting this hill station. This place is also known as the ‘Scotland of the East’. One can find descendants of the Khyrim, Mylliem, Maharam, Mallaisohmat, Bhowal and Langrim tribes.

</p>
                </th>
            <th><img align="right"src="{% static 'images/east-images/SHILLONG.jpg' %}" height="400"></th>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>ZIRO,ARUNACHAL PRADESH</u></h7></td>
            </tr>
            <tr>
                <th><img align="left"src="{% static 'images/east-images/ZIRO.jpg' %}" height="400"></th>
                <th><p style="text-align:right;font-size:160%;font-family:candara">The cradle to a unique tribal group and a balmy climate, Ziro is the peace seeker's paradise. Ziro is a quaint old town in Arunachal Pradesh, home to the Apa Tani tribe and famous for its pine hills and rice fields.


      </p>
                </th>

            </tr><br>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>KOLKATA,WEST BENGAL</u></h6></td></tr>
        <th><p style="text-align:left;font-size:150%;font-family:candara">Kolkata, India's second biggest city, is a perpetually ongoing festival of human existence, concurrently luxurious and squalid, refined and frantic, pointedly futuristic, while beautifully in decay. A vibrant 350-year-old metropolis located on India's Eastern Coast, the capital of West Bengal thrives on contradictions and imposing spectacles; nothing is commonplace in this city. Famously known as the City of Joy, Kolkata is, in every sense, the artistic, cultural and intellectual capital of the country. Kolkata's streets are vivid, hectic, chaotic, and yet, brimming with life and creativity. Driven by the indomitable spirit of the self-made middle class, the city has created a beautiful juxtaposition of the old colonial-era charm with the nascent upcoming hipster culture that thrives amongst the city's millennial residents.


</p>
                </th>
            <td><img align="right"src="{% static 'images/east-images/KOLKATA.jpg' %}" height="400"></td>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>KONARK,ORISSA</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/east-images/KONARK.jpg' %}" height="350"></td>
                <th><div><p style="text-align:right;font-size:190%;font-family:candara">Konark, in the state of Orissa is renowned world over for the Sun Temple which is also a UNESCO World Heritage Site, the Annual dance festival and its beautiful sandy beaches.


                        </p></div>
                </th>

            </tr>

         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>DOOARS,WEST BENGAL</u></h6></td></tr>
         <th><div><p style="text-align:left;font-size:180%;font-family:candara">Starting from river Teesta in the East to river Sankoshi in the west, Dooars is a local name given to the floodplains of North-East India around Bhutan. The name 'Dooars' has emerged from 'door' as Dooars is the gateway to Bhutan.


                 </p></div>
                </th>
            <td><img align="right" src="{% static 'images/east-images/DOOARS.jpg' %}" height="350"></td>
        </tr><br>

         <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>GOPALPUR,ODISHA</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT"src="{% static 'images/east-images/GOPALPUR.jpg' %}" height="300"</td>
                <th><p style="text-align:right;font-size:180%;font-family:candara">In the southern coastline of Odisha just 15 km from the city of Behrampur is located a quaint, tiny town of Gopalpur which was a sea port, bustling with trade and commerce, in the Colonial Era.


 </p>
                </th>

            </tr>
        </div>
        </table>
    </body>
</html>
