<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html len="en">
    <head>
        {% load static %}
        <title>NORTH INDIA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <tr><h1 align="center" size="50" style="color:BROWN ;font-size:300%"><b><strong><marquee>The Best Places to visit in North India</marquee></strong></b></h1></tr><br>
        <tr><h2 align="center"><img align="middle" src="{% static 'images/north-images/agra-tomb.jpg' %}" height="500"></h2></tr>
        <tr><P style="color:blue;text-align:center;font-size:150%;font-family:Optima;margin:3em "><b>Remnants of ancient empires, cosmopolitan cities, spiritual towns, scenic mountains, picturesque lakes and lush valleys are all part of North India’s vast and diverse landscape. With something for everyone, we’ve put together a list of some of the best places to visit in North India.
        </P></tr><br>
        <tr><th><h4 style="color:brown;text-align:left;font-size:200% "><u>DELHI</u></h4></th></tr>
        <tr><th><img align="left" src="{% static 'images/north-images/delhi_red_fort-v1.jpg' %}" height="400"></th><br>
        <th><p style="text-align:right;font-size:165%;font-family:Candara">Delhi is a uniquely historic and cosmopolitan city that everyone should visit at least once in their lifetime. Its historic monuments, landscaped gardens, amazing food, bustling markets, vibrant art and nightlife scene, diverse cultures and youthful liveliness all make this city wonderfully dynamic. Some notable attractions include the iconic India Gate, Red Fort, Jama Masjid, Humayun’s Tomb, Qutub Minar, Chandi Chowk, Lotus temple and Lodhi Gardens.

                </p>
        </th></tr><BR>

        <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>AGRA,UTTAR PRADESH</u></h6></td></tr>
        <th><p style="text-align:left;font-size:180%;font-family:Candara">Certainly one of the most well-known places in North India, Agra is famed for its historic sights, which are reminiscent of the Mughal-era. From the iconic Taj Mahal and 16th-century Agra Fort to the ancient city of Fatehpur Sikri, Agra is a dream for architecture aficionados and history buffs.
                </p>
                </th>
            <td><img align="right" src="{% static 'images/north-images/agra-taj.jpg' %}" height="300"></td>
        </tr><br>

        <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>VARANASI,UTTAR PRADESH</u></h7></td>
            </tr>
            <tr>
                <td><img align="left" src="{% static 'images/north-images/varanasi2_mattzimmerman_flickr.jpg' %}" height="400"></td>
                <th><p style="text-align:right;font-size:140%;font-family:candara">Dating back to the 6th century BC, Varanasi is one of the oldest continually inhabited cities in the country. For centuries, it’s been an important site for Hindu pilgrims and spiritual seekers from across the world. People come here to seek the blessings of Lord Shiva and attain inner peace, beside taking a dip in the sacred waters of the Ganges – part of an ancient ritual of purification of soul, body and mind. You’ll see around 87 ghats (flights of steps leading to the river) and more than 2,000 temples, mostly dedicated to Hindu god Shiva. Do not leave without attending the Ganga aarti (prayer ritual held every evening) and enjoying a boat ride along the Ganges.

      </p>
                </th>

            </tr><br>
        </div>
         <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>AMRITSAR,PUNJAB</u></h6></td></tr>
        <th><p style="text-align:left;font-size:160%;font-family:candara">Certainly one of the most well-known places in North India, Agra is famed for its historic sights, which are reminiscent of the Mughal-era. From the iconic Taj Mahal and 16th-century Agra Fort to the ancient city of Fatehpur Sikri, Agra is a dream for architecture aficionados and history buffs.
                </p>
                </th>
            <th><img align="right" src="{% static 'images/north-images/religious-sites-india.jpg' %}" height="300"></th>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>GULMARG,SONMARG AND SRINAGAR,KASHMIR</u></h7></td>
            </tr>
            <tr>
                <th><img align="left" src="{% static 'images/north-images/kashmir.jpg' %}" height="400"></th>
                <th><p style="text-align:right;font-size:145%;font-family:candara">Dating back to the 6th century BC, Varanasi is one of the oldest continually inhabited cities in the country. For centuries, it’s been an important site for Hindu pilgrims and spiritual seekers from across the world. People come here to seek the blessings of Lord Shiva and attain inner peace, beside taking a dip in the sacred waters of the Ganges – part of an ancient ritual of purification of soul, body and mind. You’ll see around 87 ghats (flights of steps leading to the river) and more than 2,000 temples, mostly dedicated to Hindu god Shiva. Do not leave without attending the Ganga aarti (prayer ritual held every evening) and enjoying a boat ride along the Ganges.

      </p>
                </th>

            </tr><br>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>HARIDWAR AND RISHIKESH,UTTARAKHAND</u></h6></td></tr>
        <th><p style="text-align:left;font-size:180%;font-family:candara">In the foothills of mighty Himalayas along the bank of the Ganges lies the twin national heritage cities of Haridwar and Rishikesh. Haridwar is more of a spiritual destination with a plethora of temples and religious celebration that attracts Hindu pilgrims from across the world. While you’re here do not miss the Ganga aarti. Just 12 miles upslope from Haridwar lies Rishikesh, which is a go-to destination for yoga, meditation and adventure sports, such as bungee-jumping, river rafting and flying fox.

</p>
                </th>
            <td><img align="right" src="{% static 'images/north-images/rishikesh.jpg' %}" height="300"></td>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>PARVATI VALLEY,HIMACHAL PRADESH</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/north-images/parvati-valley-kasol' %}" height="400"></td>
                <th><div><p style="text-align:right;font-size:190%;font-family:candara">Parvati Valley beckons to nature lovers and keen adventurers. Here, visitors can discover picture-perfect villages of Kasol, Malana and Tosh – complete with unspoilt natural beauty, hippie vibes, and outdoor activities such as trekking and riverside camping. Ideal for those seeking respite from bustling city life.

                        </p></div>
                </th>

            </tr>

         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>MANALI,UTTAR PRADESH</u></h6></td></tr>
         <th><div><p style="text-align:left;font-size:160%;font-family:candara">At an altitude of 2,050 metres in the Beas Valley lies Manali, Manali is one of North India’s best ski places in winter. Come summer when the snows have retreated, it becomes one of the best spots for adventure enthusiasts, who can indulge in river rafting in Beas River, trekking in Rohtang Pass and Beas Kund; paragliding, zorbing and yak riding in Solang Valley. Adventurous outings not your thing? Fret not! Manali has plenty of other places on offer, including ancient temples, Tibetan monasteries, wildlife sanctuaries, art and cultural centres.

                 </p></div>
                </th>
            <td><img align="right" src="{% static 'images/north-images/manali-1.jpg' %}" height="300"></td>
        </tr><br>

         <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>LEH-LADAKH</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/north-images/ladakh.jpg' %}" height="300"></td>
                <th><p style="text-align:right;font-size:150%;font-family:candara">With Himalayas in the south and the Karakoram mountains in the north, Leh-Ladakh is a favourite retreat for trekkers and biking enthusiasts. The place is also home to several Buddhist monasteries overlooking a spectacular panoramic vista of snow-clad mountains and icy glaciers. Those seeking peace can stay at the monasteries and partake in the spiritual retreats.

 </p>
                </th>

            </tr>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>RAJASTHAN</u></h6></td></tr>
        <th><p style="text-align:left;font-size:160%;font-family:candara">Dubbed the ‘Land of Kings’, Rajasthan has been captivating the hearts of locals and tourists alike for years, with its ancient forts, glamorous palaces, exquisite havelis (mansions), diverse landscape, vibrant art and culture, and traditional cuisine. Though there are many worthwhile places to explore in the royal land, the best ones include the imperial cities of Jodhpur, Bikaner and Udaipur, the pink city of Jaipur, the golden city of Jaisalmer and the holy city of Ajmer.

</p>
                </th>
            <td><img align="right" src="{% static 'images/north-images/rampuriya-haveli.jpg' %}" height="200"></td>
        </tr><br>



        </table>
    </body>
</html>
