<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html len="en">
    <head>
        {% load static %}
        <title>SOUTH INDIA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <tr><h1 align="center" size="50" style="color:BROWN ;font-size:300%"><b><strong><marquee>The Best Places to visit in South India</marquee></strong></b></h1></tr><br>
        <tr><h2 align="center"><img align="middle" src="{% static 'images/south-images/1024px-Gavi_elephants_2.jpg' %}" height="500"></h2></tr>
        <tr><P style="color:blue;text-align:center;font-size:150%;font-family:Optima;margin:3em "><b>There is just one time in your life when you have time, energy and money (okay, not heaps, but bundles at least? small bundles?) to spend and in these times, you’re all pumped up. C’mon world. Bring it on. Listen up adventure squad and quiet time maniacs, there’s something here for all of you :)
            </b>
</P></tr><br>
        <tr><th><h4 style="color:brown;text-align:left;font-size:200% "><u>COORG</u></h4></th></tr>
        <tr><th><img align="left" src="{% static 'images/south-images/vihigaon.jpg' %}" height="400"></th><br>
        <th><p style="text-align:right;font-size:170%;font-family:Candara">Widely known for being the “Scotland of the South”, Coorg is an enchanting hill station located not so far from Bangalore. The view of the grey clouds subtly blending with the greenery of the hills is a sight worth seeing. Ever tried waterfall rappelling? If not, now is the time! An exciting challenge to overcome, with the water flowing down with force, in a moist climate, hear your heartbeat in your ears. Over the sound of the waterfall. There is no better place for this than Coorg, which easily makes it to the list of best places to visit in South India.


                </p>
        </th></tr><BR>

        <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>KODAIKANAL</u></h6></td></tr>
        <th><p style="text-align:left;font-size:180%;font-family:Candara">Lose yourself in the mesmerising beauty of the rolling hills shrouded in the alluring mist and dense forest of Kodaikanal. Dubbed the Princess of Hill stations, Kodaikanal ranks high on the list of hill stations in the country thanks to the abundance of natural beauty, be it the waterfalls, the lakes, the lush greenery or the magnificent view of the Palani hills. Enjoy the eternally pleasant weather of the area as you trek to Green Valley View or Dolphin’s nose, where you can admire the scenic panoramas of this natural wonderland, or immerse yourself in the serenity of Kodai Lake or Berjarim Lake.

</p>
                </th>
            <td><img align="right" src="{% static 'images/south-images/Kodaikanal_20180308230349.jpg' %}" height="400"></td>
        </tr><br>

        <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>THEKKADY</u></h7></td>
            </tr>
            <tr>
                <td><img align="left" src="{% static 'images/south-images/00.jpg' %}" height="400"></td>
                <th><p style="text-align:right;font-size:200%;font-family:candara">Home to the massive Periyar National Park, the quaint village of Thekkady is sure to capture your heart with its innocent charm and abundance of natural beauty. Spot tigers, as well as other wild animals frolic at the country’s largest tiger reserve, engage in the adventurous sport of Bamboo rafting or marvel at the wondrous ecology of the Periyar lake and its surrounding greenery.


      </p>
                </th>

            </tr><br>
        </div>
         <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>ALAPPUZHA</u></h6></td></tr>
        <th><p style="text-align:left;font-size:180%;font-family:candara">Known as the “Venice of the East”, Alleppey with its backwaters and floating houseboats, is one of the most beautiful places to visit in South India. The backwaters of Kerala are a breathtaking sight, particularly at the break of dawn. Surf on its gentle waters, or live in one of the houseboats. Or maybe just let the hammocks tied to the coconut trees cradle you to sleep. This is one of the most soothing places to visit in South India and a perfect way to round up your trip. Allepey Travel

</p>
                </th>
            <th><img align="right" src="{% static 'images/south-images/allepey-backwaters.jpg' %}" height="400"></th>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>HAMPI</u></h7></td>
            </tr>
            <tr>
                <th><img align="left" src="{% static 'images/south-images/hampi.jpg' %}"height="400"></th>
                <th><p style="text-align:right;font-size:160%;font-family:candara">Hampi is one of those laid-back places with grandiose historical beauty that transports you back in time. A must visit place in South India, this places offer a wide range of activities as well. Once a part of the ancient south Indian kingdom of Vijayanagar, it’s a UNESCO World heritage site and also a very important historical and religious centre. The Virupaksha temple is an important temple which is visited by Hindus from all over the country.  So jump over the ruins, take crazy pictures, read up on them or just feel the magnitude of the kingdom that once existed here. It’s truly magical. Hampi is great for solo travel in South India.


      </p>
                </th>

            </tr><br>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>MUNNAR</u></h6></td></tr>
        <th><p style="text-align:left;font-size:170%;font-family:candara">Located in God’s own country – Kerala, Munnar is undoubtedly the most romantic hill station in South India. A great place to drive to, you know you’ve reached Munnar when you smell tea in the air. It’s literally everywhere, and you will go back smelling like a teabag. The entire area is a collection of small hillocks that are trek friendly, with lakes, and water falls and large expanses of dense, green forests maintained by the forest department. The green countryside is bound to take your breath away. Have a look at the sandalwood forest as well while you are touring this place in South India.



</p>
                </th>
            <td><img align="right" src="{% static 'images/south-images/Munnar.jpg' %}" height="400"></td>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>VARKALA,KERALA</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/south-images/10.jpg' %}" height="400"></td>
                <th><div><p style="text-align:right;font-size:160%;font-family:candara">A beautiful experience in itself, you taste the food even better when all your other senses are treated to the fresh sea wind and the sight of the never-ending ocean.  A complete and ideal tourist destination for solo travel in South India Varkala is Famous for its springs, fisheries, lighthouses, beaches, lake and much more. An important Vishnu temple known as the Janardhanaswamy Temple is present here which is said to be more than 2000 years old. An ashram known as the Shivagiri Mutt, founded by the well known Hindu reformer  Sree Narayana Guru, is also located close by.


                        </p></div>
                </th>

            </tr>

         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>OOTY</u></h6></td></tr>
         <th><div><p style="text-align:left;font-size:160%;font-family:candara">The name says it all, you know what’s coming. Take the toy train from Mettupalayam, go boating, and breathe in the Nilgiri hills after climbing up the Dodabetta peak. No matter how many times you go to Ooty, it never fails to amaze you. This charming place in South India is a complete package to delight your senses. Also, having a romantic ambience, it’s one of the most popular honeymoon destinations in South India. Honeymooners from all over the country visit this lovely place throughout the year. There are several things to do here as well, such as trekking and angling. Oh, and don’t forget to visit the tea gardens. Ooty Travel Guide


                 </p></div>
                </th>
            <td><img align="right" src="{% static 'images/south-images/ooty.jpg' %}" height="300"></td>
        </tr><br>

         <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>MAHABALIPURAM</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/south-images/Mahabalipuram_20180308232058.jpg' %}" height="400"></td>
                <th><p style="text-align:right;font-size:180%;font-family:candara">Soak up the deep culture and complex history of ancient Pallavas on the coastal town of Mahabalipuram, home to a large number of intricately patterned rock-cut monuments and temples. This resort town lies on a strip of land between the Great Salt Lake and the Bay of Bengal and is designated as world heritage site by UNESCO due to the multitude of the timeless wonders left behind by the past civilisations that once inhabited this spot. Mahabalipuram Tourism


 </p>
                </th>

            </tr>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>BANDIPUR NATIONAL PARK</u></h6></td></tr>
        <th><p style="text-align:left;font-size:190%;font-family:candara">Part of the enormous Nilgiris Biosphere Reserve, the Bandipur National Park is a plethora of varied fauna and flora, serving as a large habitat for tigers and the Asian elephant. Rich in its ecological biodiversity, opt to either visit this massive bio-park or drive by NH 181 or NH 766 which pass through this lush nirvana, promising you scores of soothing forests and the chance to see some really cool indigenous animals. Bandipur National Park Tourism


</p>
                </th>
            <td><img align="right" src="{% static 'images/south-images/BandipurNationalPark_20180308232516.jpg' %}" height="400"</td>
        </tr><br>



        </table>
    </body>
</html>
