<!DOCTYPE html>

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html len="en">
    <head>
        {% load static %}
        <title>WEST INDIA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <tr><h1 align="center" size="50" style="color:BROWN ;font-size:300%"><b><strong><marquee>The Best Places to visit in West India</marquee></strong></b></h1></tr><br>
        <tr><h2 align="center"><img align="middle" src="{% static 'images/west-images/main.jpg' %}" height="500"></h2></tr>
        <tr><P style="color:blue;text-align:center;font-size:150%;font-family:Optima;margin:3em "><b>West India is a region in the western part of India. It includes the states Gujarat, Maharashtra Rajasthan, and Goa and Union Territories, Dadra and Nagar Haveli, and Daman and Diu. This region has dominant industries, and dense with the urban population.

</P></tr><br>
        <tr><th><h4 style="color:brown;text-align:left;font-size:200% "><u>GOA-BEACHES,SUNSETS AND CRAZY NIGHTS</u></tr>
        <tr><th><img align="left" src="{% static 'images/west-images/GOA.jpg' %}" height="400"</th><br>
        <th><p style="text-align:right;font-size:165%;font-family:Candara">When you think of Goa, you think of sandy beaches, amazing parties, beautiful little villages, delicious food, and a magical holiday experience. Yes, Goa is rightfully known as the most popular tourist destination on the West Coast of India, and not just because of its scenic beaches, but also because of its tropical climate and its rich Portuguese heritage, which you can still find lingering on in some parts of the town. Nestled in the Konkan Coast Belt, Goa has a coastline stretching for over a 100 kilometres, and attracts millions of visitors both from within and outside the country all year round.


                </p>
        </th></tr><BR>

        <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>UDAIPUR,RAJASTHAN-THE CITY OF LAKE</u></h6></td></tr>
        <th><p style="text-align:left;font-size:180%;font-family:Candara">Udaipur, also known as the City of Lakes, is the crown jewel of the state of Rajasthan. It is surrounded by the beautiful Aravalli Hills in all directions, making this city as lovely as it is. This 'Venice of the East' has an abundance of natural beauty, mesmerising temples and breathtaking architecture which makes it a must-visit destination in India.  A boat ride through the serene waters of Lake Pichola will be enough to prove to you why Udaipur is the pride of Rajasthan.

                </th>
            <td><img align="right" src="{% static 'images/west-images/UDAIPUR.jpg' %}" height="300"></td>
        </tr><br>

        <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>JAIPUR,RAJASTHAN-THE PINK CITY</u></h7></td>
            </tr>
            <tr>
                <td><img align="left" src="{% static 'images/west-images/JAIPUR.jpg' %}" height="400"></td>
                <th><p style="text-align:right;font-size:130%;font-family:candara">Jaipur, the ?Pink City?, is one of the most royal, majestic and colourful cities of India with a very strong historical background and vibrant culture.
                        With the old city surrounded by walls and gates decorated with drawings on the backdrop of a beautiful pink hue, Jaipur, the pink city successfully manages to retain its old world charm. Home to a few UNESCO World Heritage sites including Amer Fort and Jantar Mantar, Jaipur is home to many magnificent forts, palaces, temples and museums. Jaipur is filled to the brim with bustling local bazaars where you can shop for local handicrafts and trinkets to your heart's content. Popular bazaars in the city include Bapu Bazaar, Tripolia Bazaar and Johri Bazaar. Jaipur is also very well known for its local food and the most famous dishes include the Ghewar, Pyaaz Kachori and Dal Baati Churma.



      </p>
                </th>

            </tr><br>
        </div>
         <tr>
        <tr><td><h6 style="color:brown;text-align:left;font-size:200%"><u>KUTCH,GUJARAT-THE WHITE DESERT OF INDIA</u></h6></td></tr>
        <th><p style="text-align:left;font-size:150%;font-family:candara">Virtually an island that resembles the shape of a tortoise, Kutch is an erstwhile princely state of India holding onto its grandeur nature from the past.
                Kutch is probably one of the most beautiful, yet surreal places in India. With the vast expanses of white salt desert in the Rann of Kutch area, this is an amazing experience to witness. One would be able to see just stretches of pure white land as far as the eyesight goes. The place comes to life during the winters when the Rann Festival is held during December-February everywhere in which there are huge camp settlements with cultural programs, functions and adventure activities like hot-air ballooning. Kutch is also among the largest district of India with a terribly low population density. Also, Kutch lies on the India-Pakistan border and you can see parts of Pakistan from Kutch.

                </th>
            <th><img align="right" src="{% static 'images/west-images/KUTCH.jpg' %}" height="400"></th>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>JAISALMER,RAJASTHAN-THE GOLDEN CITY</u></h7></td>
            </tr>
            <tr>
                <th><img align="left" src="{% static 'images/west-images/JAISALMER.jpg' %}" height="300"></th>
                <th><p style="text-align:right;font-size:160%;font-family:candara">Situated close to the Pakistan Border, Jaisalmer is a major tourist spot located in the northwestern state of Rajasthan in India. It is called the 'golden city' due to its bounteous golden dunes flowing in the Thar Desert. Jaisalmer is adorned with lakes, ornate Jain temples, havelis and castles clad in golden yellowish sandstone. Climb on to the camel saddle and make your way through this desert or camp under the night sky in this golden land for an unforgettable experience.

      </p>
                </th>

            </tr><br>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>BHARATPUR,RAJASTHAN-THE BIRD HAVEN</u></h6></td></tr>
        <th><p style="text-align:left;font-size:140%;font-family:candara">Often referred as the 'Eastern Gate of Rajasthan', Bharatpur is located in the Braj region of state Rajasthan. The city is drenched by its culture, chivalry and romance woven into ballads and folklore can be heard from miles. An exotic offbeat destination that serves tourists with authentic Rajasthani traditions, religious occasions mark devotion of the state people. Also known as Lohagarh, it is a part of the golden tourism triangle of Delhi, Jaipur and Agra, this place attracts a considerable number of national and international tourist every year. It is also the home of Keoladeo National Park, which habitats over 370 species of animals and birds. It is recognised as one of the most popular birds feeding and breeding grounds. In 1982 the park was marked as a National Park, and later in 1985, it came on the list of World Heritage Sites by UNESCO.


</p>
                </th>
            <td><img align="right" src="{% static 'images/west-images/BHARATPUR.jpg' %}" height="400"></td>
        </tr><br>

            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>RANTHAMBORE,RAJASTHAN</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/west-images/RANTHAMBORE.jpg' %}" height="300"></td>
                <th><div><p style="text-align:right;font-size:190%;font-family:candara">This is one of the best tiger reserves of the country, known to have "friendly" tigers and chances of sighting one here is reasonably better than many other tiger reserves of India. Along with this Ranthambore has one of the richest flora and fauna making it an absolutely must visit area


                        </p></div>
                </th>

            </tr>

         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>AJANTA AND ELLORA CAVES,MAHARASHTRA</u></h6></td></tr>
         <th><div><p style="text-align:left;font-size:180%;font-family:candara">Ajanta and Ellora caves are considered to be one of the most important tourist destinations in the world owing to the magnificent paintings of Ajanta and well-carved sculptures of Ellora. The rock-cut caves containing carvings are the finest example of Indian paintings and sculpture.


                 </p></div>
                </th>
            <td><img align="right" src="{% static 'images/west-images/AJANTA-AND-ELLORA-CAVES.jpg' %}" height="300"></td>
        </tr><br>

         <div>
            <tr>
                <td><h7 style="color:brown;text-align:left;font-size:200% "><u>MUMBAI,MAHARASHTRA-THE CITY OF DREAMS</u></h7></td>
            </tr>
            <tr>
                <td><img align="LEFT" src="{% static 'images/west-images/MUMBAI.jpg' %}" height="400"></td>
                <th><p style="text-align:right;font-size:140%;font-family:candara">Mumbai is a spectacular paradox of chaos and hope, glamor and squalor, modernity and tradition, old and new. Famously known as the City of Dreams, Mumbai – formerly known as Bombay – has a long colonial history, starting from Gandhi’s visits to the city to the intense protests against the Simon Commission in 1928, the city has stood witness to many important events in the country’s freedom struggle. Today, Mumbai is a beautifully blended melting pot of cultures and lifestyles. The city soaks in everything into its fabric, making it its very own. From European and Portuguese inhabitants who migrated years ago to the city, to upcoming actors struggling to make it big on the silver screen; from Bolly superstars to big industrialists to tribes of fisherman and slum dwellers, Mumbai is a city that proudly boasts of stories from different walks of human survival.


 </p>
                </th>

            </tr>
        </div>
         <tr><td><h6 style="color:brown;text-align:LEFT;font-size:200%"><u>MATHERAN,MAHARASHTRA</u></h6></td></tr>
        <th><p style="text-align:left;font-size:160%;font-family:candara">Nestled amidst the Sahyadri range on the Western Ghats, Matheran is a cosy little hill station that stands at an elevation of 2600 feet above sea level, and is just 100 kilometres away from Mumbai, making it the perfect weekend getaway. With its name literally translating to “overhead forest”, Matheran is the smallest hill station in all of India, but it is extremely popular in terms of tourists looking for a short trip amid spectacular vistas and serenity.


</p>
                </th>
            <td><img align="right" src="{% static 'images/west-images/MATHERAN.jpg' %}" height="300"></td>
        </tr><br>



        </table>
    </body>
</html>
